.top{
    background-color:white;
    width:100%;
    height: 2000px;
     color: black;
}   
   
#gray{
    color: gray;
}
.centerWrite{
    justify-items: center;
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;


}
.inCenter{
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
}
#red{
    color: red;
}
.image{
    margin-top: -50%;
    margin-left: 45%;
    justify-content: end;
    height: 1000px ;
    width: 150%;
    z-index: -1;

}

.apply{
    margin-top: 8%;
    background-color: red;
    border-bottom: 10px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.video{
    background-color: white;
    color: white;  

}

.statement{
    font-size: 30px;
    color: darkblue;
    font-style:normal;
    margin-top: -2%;

}
.mainBox{
    display: flex;
    height: 270px;
    width: 100%;
    background-color: rgba(249, 138, 239, 0.336);
    margin-top: -8%;
}

.box1{
    margin-top: 0.5%;
    margin-left: 1;
    height: 240px;
    background-color: white;
    color: darkgray;
}
.box2{
    margin-top: 0.5%;
    margin-left: 0.5%;
    height: 240px;
    background-color: white;
    color: darkgray;
}

.box3{
    margin-top: 0.5%;
    margin-left: 0.5%;
    height: 240px;
    background-color: white;
    color: darkgray;
}
.cover{
    margin-top: 7%;
    text-align: center;
    font-size: 40px;
}

.textMain{
    display: flex;
    color: brown;
}
.tex1tHead{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text1{
    margin-top: 10%;
    margin-left: -80%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}
.tex2tHead{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text2{
    margin-top: 10%;
    margin-left: -80%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}
.tex3tHead{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text3{
    margin-top: 10%;
    margin-left: -85%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}


.textMain2{
    display: flex;
    color: brown;
}

.tex1tHead2{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text12{
    margin-top: 10%;
    margin-left: -30%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}

.tex2tHead2{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text22{
    margin-top: 10%;
    margin-left: -80%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}
.tex3tHead2{
    margin-left: 5%;
    display: flex;
    color: brown;
}
.text32{
    margin-top: 10%;
    margin-left: -30%;
    font-size: 15px;
    color: rgb(17, 16, 16);
}

.icon{
    margin-top: -1%;
    margin-left: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    position: fixed;
  }  

.swit{
    margin-left: 3%;
}
.startup{
    margin-left: 3%;
}
.sponsorship{
    margin-left: 3%;
}
.blog{
    margin-left: 3%
}
.forCompanies{
    margin-left: 3%;
}

.applyNow{
    margin-left: 3%;

}